<html>

<head>
<title>Add book</title>
</head>
<body>

	<form action="add-book" method="post">
		<h2>
			Enter the details to add a book in library
		</h2><br>
		Book Serial Number:
		<input type="text" placeholder="Enter the Serial Number" name="serialno" required>
		<br><br>
		Book Name:
		<input type="text" placeholder="Enter the Book Name" name="bookname" required>
		<br><br>
		 Author: <input type="text" placeholder="Enter the Author" name="author" required>
		<br><br>
		Edition: <input type="phone" placeholder="Enter the Edition" name="edition" required>
		<br><br>
		Stock:    <input type="text" placeholder="Enter Available Stock" name="stock" required>
		<br><br>
		<input type="submit">
</body>
<style>
     body{
	color:brown;	
	align-items:center;
	justify-content:center;
	display:flex;
}

input{
		display :block;
		width :100%;
		padding :1.5%;
		border-radius:2%;
		border-color:crimson;
	}


</style>
</html>